/* Général */
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: #ba8d3a;
}

/* Header */
header#main_header {
    height: 20vh;
    background-image: url(img/chocolate_chopped.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Navbar */
.navbar_container {
    background-color:#362608;
    opacity: 0.8;
}

nav ul {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar_container ul li {
    color: #ba8d3a;
    padding: 1em;
}

/* Classe active qui s'applique sur le bouton en lien avec la page du navbar sur lequel on est*/
.active {
    color: rgb(53, 52, 52);
    background-color: rgb(198, 199, 199);
    box-shadow: 0 0 1.5px rgb(53, 52, 52);
}

/* Footer */
footer {
    background-color: #362608;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div.position_items_footer, footer div#container_a_footer {
    width: 50vw;
}

footer div.position_items_footer:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div.position_items_footer_bis {
    width: 50vw;
}

footer div ul, footer div ul li, footer div p, footer div a  {
     width: auto;
     padding: 0.5em;
}

div#container_a_footer {
    margin-top: 1em;
}

footer div p {
    color: #ba8d3a;
}

/*  ----------------------- Home Page ------------------- */
/* Section Notre maison */
section#main_article {
    height: 50vh;
    border-bottom: solid 1px black;
}

section#main_article article {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#main_article article div {
    height: auto;
}

/* Nos produits */
section#carousel_produits {
    height: 50vh;
    border-bottom: solid 1px black;
}

/* Nos Actualités */
section#articles {
    height: 50vh;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
}

div#articles_container {
    height: inherit;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articles_news {
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.articles_news_revert {
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
}