
.presentation {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;  
} 

.photo_histoire {
    width: 20%;
    height: 40%;  
}/* Photo de la sectio présentation*/

.text_histoire{
    padding-left: 1rem;
    width: 40%;
    height: 30%;
}/* Texte de la section présentation */

.photo_actu {
    width: 20%;
    height: 20%;
  }/* Photo des articles */

.actualite {
    display: flex;
    flex-direction:column ;
    padding: 10px;
} /* Section actualité qui comprend les 2 articles */

.actu_article{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}/* Comprend l'image, le titre et le texte de l'article */
.contenu_actu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}/* Comprend le titre et le texte de l'article */

h3 {
    width: 80%;
    height: 20%;
    font-size: 1.3rem;
    font-weight: bold;
}/* titre de l'article */

.text_actu {
    width: 30%;
    height: 40%;
}/* texte de l'article */


}